.team__button {
  position: absolute;
  font-family: 'Noto Sans', 'Arial', sans-serif;
  bottom: 145px;
  height: min-content;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 15px;
  opacity: 1;
  transition: 0.2s;
  font-size: 30px;
  display: none;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
  color: #fff;
}

.team__button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.team__button[name='team-left'] {
  left: 50px;
}

.team__button[name='team-right'] {
  right: 50px;
}

@media (max-width: 1023px) {
  .team__button {
    display: block;
  }
}

@media (max-width: 767px) {
  .team__button {
    display: none;
  }
}