.team {
  background-color: #5036E6;
  padding: 80px 160px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1023px) {
  .team {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .team {
    padding: 20px 20px 40px;
  }
}