.invitation {
  background-color: #5036E6;
  padding: 171px 160px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1360px) {
  .invitation {
    align-items: flex-start;
  }
}

@media (max-width: 1023px) {
  .invitation {
    align-items: flex-end;
    padding: 121px 50px;
  }
}

@media (max-width: 767px) {
  .invitation {
    padding: 21px 20px 0 20px;
  }
}