.team__title {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 90%;
  color: #fff;
  margin: 0;
}

@media (max-width: 767px) {
  .team__title {
    font-size: 40px;
  }
}