.fights__button {
  position: absolute;
  bottom: 323px;
  height: min-content;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  opacity: 1;
  transition: 0.2s;
  font-size: 30px;
  display: none;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
}

.fights__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.fights__button[name='fights-left'] {
  left: 50px;
}

.fights__button[name='fights-right'] {
  right: 50px;
}

@media (max-width: 1023px) {
  .fights__button {
    display: block;
  }
}

@media (max-width: 767px) {
  .fights__button {
    display: none;
  }
}