.correct-chess__image {
  width: 416px;
  height: 104px;
  margin-top: 182px;
  display: block;
  position: relative;
  z-index: 2;
}

@media (max-width: 1023px) {
  .correct-chess__image {
    margin-top: 212px;
  }
}

@media (max-width: 767px) {
  .correct-chess__image {
    width: 100%;
    height: auto;
    min-height: 70px;
    margin-top: 110px;
  }
}