.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 26px 160px 0;
}

@media (max-width: 1023px) {
  .header {
    padding: 26px 50px 0;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 16px 20px 0;
  }
}