.cards__job {
  margin: 10px 0 0;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

@media (max-width: 767px) {
  .cards__job {
    font-size: 12px;
    margin-top: 5px;
  }
}