.invitation__subtitle {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
  margin: 40px 0 0;
  width: 520px;
  position: relative;
  z-index: 2;
}

@media (max-width: 1360px) {
  .invitation__subtitle {
    width: 300px;
    margin-top: 50px;
  }
}

@media (max-width: 1023px) {
  .invitation__subtitle {
    width: 478px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .invitation__subtitle {
    margin-top: 20px;
    width: 100%;
    font-size: 12px;
  }
}