.quantity__count {
  display: none;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  opacity: 0.2;
}

@media (max-width: 767px) {
  .quantity__count {
    display: block;
    transition: opacity 0.4s linear;
  }
}