.correct-chess__rounds {
  background-image: url(../../../images/rounds/four-rounds.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 640px 640px;
  width: 640px;
  height: 640px;
  position: absolute;
  right: -161px;
  top: 70px;
  z-index: 1;
}

@media (max-width: 1023px) {
  .correct-chess__rounds {
    width: 520px;
    height: 520px;
    background-size: 520px 520px;
    top: 220px;
    right: -390px;
  }
}

@media (max-width: 767px) {
  .correct-chess__rounds {
    background-image: url(../../../images/rounds/two-rounds.png);
    background-size: 120px 60px;
    width: 120px;
    height: 60px;
    right: 20px;
    top: 40px;
  }
}