@media (max-width: 1023px) {
  .button_place_header {
    font-size: 13px;
    padding: 12px 22px 14px;
  }
}

@media (max-width: 767px) {
  .button_place_header {
    padding: 6px 16px;
    font-size: 10px;
  }
}